.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.contact-nav-bar {
  position: fixed !important;
  top: 0;
  color: black;
  display: flex;
  gap: 20px;
  align-items: center;
  height: 30px;
  justify-content: end;
  padding-right: 30px;
  background: #04195f;
  color: white;
  width: 100%;
  z-index: 2;
  
}
.nav-bar-logo-img-section {
 
  display: flex;
  width: 100px;
  gap: 10px;
  width: 600px;
}
.contact-nav-bar-item {
  display: flex;
  gap: 10px;
}
.address-card  {
margin-top: 15px;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    color: black;
    background: white;
    border: 1px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .address-card-section {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }